* {
    margin: 0;
    padding: 0;
}
.air {
    width: 600px;
    height: 350px;
    background: aqua;
}
.palka {
    position: absolute;
    width: 10px;
    height: 350px;
    background: black;
    top: 0;
    left: 295px;
}
.palka1 {
    position: absolute;
    width: 5px;
    height: 130px;
    background: black;
    top: 20px;
    left: 147.5px;
    animation: palka;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.palka2 {
    position: absolute;
    width: 5px;
    height: 130px;
    background: black;
    top: 20px;
    left: 447.5px;
    animation: palka;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes palka {
    0%, 50%, 100% {
        transform: rotate(0deg);
        transform-origin: center top;
    }
    25% {
        transform: rotate(75deg);
        transform-origin: center top;
    }
    75% {
        transform: rotate(-75deg);
        transform-origin: center top;
    }
}